body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 30px;
}

#camera-container {
    margin-bottom: 20px;
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

#entry-button, #exit-button {
    width: 12px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

#entry-bn {
    background-color: #28a745;
}

#entry-btn:hover {
    background-color: #1e7430;
}

#exit-btn {
    background-color: #ff0000;
}

#exit-btn:hover {
    background-color: #b30000;
}

#video {
    border-radius: 4px;
    width: 100%;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #1e7430;
}

button[type="button"] {
    width: 100%;
    padding: 12px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: #b30000;
}



canvas {
    display: none;
}

#message {
    margin-top: 20px;
    color: #555;
    font-size: 14px;
}

@media (max-width: 640px) {
    .login-container {
        padding: 20px;
        width: 90%;
    }
}